<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='myicon.png')}}">
    <meta charset="utf-8" />
    <!--Bootstrap Requirements-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--CSS-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/base.css') }}" />
</head>

<body style="background-color: #000000">
    <!--Header-->
    <div class="container">
        <div class="row detail-row white-row">
            <div class="col-6 link-col d-flex justify-content-center">
                <a class="link" id="link-home" href="/">Matt MacDonald</a>
            </div>
            <div class="col-3 link-col d-flex justify-content-center">
                <a class="link" href="https://www.linkedin.com/in/matt-macdonald-7b9293151/">LinkedIn</a>
            </div>
            <div class="col-3 link-col d-flex justify-content-center">
                <a class="link" href="https://github.com/mattkmacd">GitHub</a>
            </div>
        </div>
    </div>
    <!--Body-->
    <div class="container">
        <div class="row writeup-body">
            <div class="col">
                <img class="writeup-img-small" src="{{url_for('static', filename='matt2.jpg')}}">
                <h4>Let me introduce myself</h4>
                <p>
                    My name is Matt MacDonald and I am a senior studying Computer Engineering at UT Austin. Throughout
                    my time there, my primary interests have been in software engineering and data science. I have
                    worked on a variety of projects related to each that you can check out on this website. The skills I
                    learned have made me an experienced coder as well as a strong teammate and leader. I love
                    well-designed projects and learning new things from looking at data.
                </p>
                <h4>This website</h4>
                <p>
                    I created this website to showcase the projects I am especially proud of. If you have any questions
                    or would like to know more about any of them, please feel free to contact me. This website was
                    designed by me and built with Flask, Bootstrap, and HTML + CSS.
                </p>
                <h4>Resume</h4>
                <img class="writeup-img-unscaled" src="{{url_for('static', filename='resume.png')}}">
                <h4>Hire me</h4>
                <p>
                    Currently, I am seeking a full-time position in a software engineer or data scientist role. If you
                    think I would be a good fit, reach out to me here: mattkmacd@gmail.com. Thank you for checking out
                    my website!
                </p>
            </div>
        </div>
    </div>
    <!--Footer-->
    <div class="container">
        <div class="row writeup-footer white-row">
            <div class="col-6 link-col d-flex justify-content-start">
                <a class="link" href="/seniordesign">Senior Design</a>
            </div>
            <div class="col-6 link-col d-flex justify-content-end">
                <a class="link" href="/americanpie">American P.I.E.</a>
            </div>
        </div>
    </div>
</body>

</html>