<!DOCTYPE html>
<html lang="en">

<head>
    <title>mattkmacd</title>
    <meta charset="utf-8" />
    <!--Bootstrap Requirements-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--CSS-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/base.css') }}" />
</head>

<body>
    <div class="container">
        <div class="row detail-row" id="header">
            <div class="col-6">
                <h1>Matt MacDonald</h1>
            </div>
            <div class="col-2">
                <p>About</p>
            </div>
            <div class="col-2">
                <p>LinkedIn</p>
            </div>
            <div class="col-2">
                <p>GitHub</p>
            </div>
        </div>
    </div>
    <!--Body here!-->
    <div class="container-fluid">
        <div class="row detail-row">
            <div class="col" id="project-header">
                <h2>Projects</h2>
            </div>
        </div>
        <div class="row project-row">
            <div class="col-5 project-col left" id="proj1">
                <div class="title">
                    <h2>American P.I.E.</h2>
                </div>
                <div class="description">
                    <p>American political data aggregator for politicians, bills, and statements.</p>
                </div>
            </div>
            <div class="col-7"></div>
        </div>
        <div class="row project-row">
            <div class="col-7"></div>
            <div class="col-5 project-col" id="proj2">
                <div class="title">
                    <h2>Data Analysis Build Team</h2>
                </div>
                <div class="description">
                    <p>Course teaching university students to build data analysis projects from the ground up.</p>
                </div>
            </div>
        </div>
        <div class="row project-row">
            <div class="col-5 project-col left" id="proj3">
                <div class="title">
                    <h2>Money(Basket)Ball</h2>
                </div>
                <div class="description">
                    <p>Data science project to predict the winner of any given NBA game with ~70% accuracy.</p>
                </div>
            </div>
            <div class="col-7"></div>
        </div>
        <div class="row project-row">
            <div class="col-7"></div>
            <div class="col-5 project-col" id="proj4">
                <div class="title">
                    <h2>Happy Hours</h2>
                </div>
                <div class="description">
                    <p>Algorithm that calculates optimal discounts to drive restaurant business.</p>
                </div>
            </div>
        </div>
        <div class="row project-row">
            <div class="col-5 project-col left" id="proj5">
                <div class="title">
                    <h2>Senior Design Project (WIP)</h2>
                </div>
                <div class="description">
                    <p>Machine learning model to detect differences between product images.</p>
                </div>
            </div>
            <div class="col-7">
            </div>
        </div>
    </div>
    <div class=" container-fluid">
        <div class="row detail-row">
            <div class="col" id="footer">
                <p>Matt MacDonald</p>
                <p>mattkmacd@gmail.com</p>
            </div>
        </div>
    </div>
</body>

</html>