h1,
h2,
h3,
h5,
h6,
p {
  font-family: "Montserrat";
}

.project-row {
  height: 17em;
}

.detail-row {
  height: 6em;
}

.footer-row {
  height: 4em;
}

.writeup-footer {
  height: 3em;
}

.writeup-body {
  background-color: #f6f6f6;
  padding: 1em;
}

.writeup-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  margin-bottom: 1em;
}

.writeup-img-unscaled {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.project-col {
  position: relative;
}

.description {
  position: absolute;
  bottom: 0;
}

.left {
  padding-left: 21%;
  padding-right: 2em;
}

.right {
  padding-left: 2em;
}

.project-text {
  max-width: 50%;
  font-size: 1.2em;
  padding-bottom: 1em;

  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 6em;
}

.project-header {
  font-size: 2em;
  padding-top: 1em;

  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.5em;
}

.project-img {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid {
  overflow: hidden;
}

.link-col {
  position: relative;
}

.link {
  font-size: 2em;
  position: absolute;
  bottom: 0;
  color: #000000;
  transition: 0.3s;
}

.link:hover {
  color: #f24333;
  text-decoration: none;
}

.reverse-link {
  color: #f24333;
  transition: 0.3s;
}

.reverse-link:hover {
  color: #000000;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: none;
}

.about-text {
  color: #ffffff;
}

.white-row {
  background-color: white;
}

#footer {
  background-color: #000000;
  color: white;
  height: 4em;
  padding-top: 1.2em;
}

#link-home {
  font-size: 3.7em;
}

/* Project  styling */
#about {
  background-color: #000000;
}
#about-img {
  height: 17em;
}
#proj1 {
  background-color: #fcdc4d;
  color: #000000;
}
#proj1-img {
  height: 17em;
}
#proj2 {
  background-color: #f24333;
  color: #000000;
}
#proj2-img {
  height: 17em;
}
#proj3 {
  background-color: #00c49a;
  color: #000000;
}
#proj3-img {
  height: 17em;
}
#proj4 {
  background-color: #48acf0;
  color: #000000;
}
#proj4-img {
  height: 17em;
}
#proj5 {
  background-color: #7f3fde;
  color: #000000;
}
#proj5-img {
  height: 17em;
}
