h1,
h2,
h3,
p {
  font-family: "Montserrat";
}

.project-row {
  height: 17em;
}

.detail-row {
  height: 6em;
}

.project-col {
  position: relative;
}

.description {
  position: absolute;
  bottom: 0;
}

.left {
  padding-left: 21%;
  padding-right: 2em;
}

.right {
  padding-left: 2em;
}

.project-text {
  max-width: 50%;
  font-size: 1.2em;
  padding-bottom: 1em;

  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 6em;
}

.project-header {
  font-size: 2em;
  padding-top: 1em;

  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.5em;
}

.project-img {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid {
  overflow: hidden;
}

#projects-header {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-title {
  font-size: 3.7em;
}

#footer {
  background-color: #000000;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Project  styling */
#proj1 {
  background-color: #fcdc4d;
}
#proj1-img {
  height: 17em;
}
#proj2 {
  background-color: #f24333;
}
#proj2-img {
  height: 17em;
}
#proj3 {
  background-color: #00c49a;
}
#proj3-img {
  height: 17em;
}
#proj4 {
  background-color: #48acf0;
}
#proj4-img {
  height: 17em;
}
#proj5 {
  background-color: #7f3fde;
}
#proj5-img {
  height: 17em;
}
